{
  "plugins": [
    [
      "direct-import",
      [
        "material-ui"
      ]
    ],
    "transform-export-extensions",
    "transform-decorators-legacy",
    "react-hot-loader/babel",
    "lodash",
    "transform-do-expressions"
  ],
  "presets": [
    "react-app"
  ]
}
